ai-job-application-pipeline/workflow.json
{
  "name": "Automated Job Application & Outreach Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "id": "node-1"
    },
    {
      "parameters": {
        "url": "https://api.example-job-board.com/v1/jobs",
        "options": {}
      },
      "name": "Job Source (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [200, 300],
      "id": "node-2"
    },
    {
      "parameters": {
        "jsCode": "// Clean and structure the raw API response\nconst jobs = $input.all()[0].json.results;\nreturn jobs.map(job => ({\n  json: {\n    title: job.job_title,\n    company: job.company_name,\n    description: job.description,\n    url: job.apply_url\n  }\n}));"
      },
      "name": "Clean + Structure Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300],
      "id": "node-3"
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job URL": "={{ $json.url }}"
          }
        }
      },
      "name": "Check Already Applied",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [600, 300],
      "id": "node-4"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "content": "=Analyze this job description and determine how well it fits my resume. Job: {{ $json.description }}"
            }
          ]
        }
      },
      "name": "AI Job Analyzer (LLM)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [800, 300],
      "id": "node-5"
    },
    {
      "parameters": {
        "jsCode": "// Extract the numerical score from the LLM output\nconst aiResponse = $input.all()[0].json.message.content;\nconst score = parseInt(aiResponse.match(/\\d+/)[0], 10); // Simple regex to find number\nreturn {\n  json: { ...$input.all()[0].json, fitScore: score }\n};"
      },
      "name": "Fit Scoring Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "id": "node-6"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.fitScore }}",
              "operation": "largerEqual",
              "value2": 80
            }
          ]
        }
      },
      "name": "IF (score > threshold)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 300],
      "id": "node-7"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "content": "=Generate a tailored cover letter and adapt my resume bullet points for this job: {{ $json.title }} at {{ $json.company }}"
            }
          ]
        }
      },
      "name": "Generate Resume + Cover Letter",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1450, 150],
      "id": "node-8"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "content": "=Write a short, engaging LinkedIn cold message to a recruiter at {{ $json.company }}."
            }
          ]
        }
      },
      "name": "Generate Cold Message",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1650, 150],
      "id": "node-9"
    },
    {
      "parameters": {
        "sendTo": "recruiter@example.com",
        "subject": "={{ $json.title }} - Application",
        "message": "={{ $json.coverLetter }}"
      },
      "name": "Save + Send (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1850, 150],
      "id": "node-10"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.company }}",
            "Job Title": "={{ $json.title }}",
            "Status": "Applied via Automation",
            "Score": "={{ $json.fitScore }}"
          }
        }
      },
      "name": "Log + Track",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [2050, 150],
      "id": "node-11"
    },
    {
      "parameters": {
        "content": "## Automated Job Application Pipeline\nThis workflow triggers every 12 hours to fetch jobs, score them using AI, and automatically generate/send customized application materials if the fit score exceeds 80/100.",
        "height": 223.770932026526,
        "width": 384.8093125211979
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 40],
      "id": "node-12"
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Job Source (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Source (API)": {
      "main": [
        [
          {
            "node": "Clean + Structure Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean + Structure Data": {
      "main": [
        [
          {
            "node": "Check Already Applied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Applied": {
      "main": [
        [
          {
            "node": "AI Job Analyzer (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Job Analyzer (LLM)": {
      "main": [
        [
          {
            "node": "Fit Scoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fit Scoring Engine": {
      "main": [
        [
          {
            "node": "IF (score > threshold)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (score > threshold)": {
      "main": [
        [
          {
            "node": "Generate Resume + Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Resume + Cover Letter": {
      "main": [
        [
          {
            "node": "Generate Cold Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cold Message": {
      "main": [
        [
          {
            "node": "Save + Send (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save + Send (Gmail)": {
      "main": [
        [
          {
            "node": "Log + Track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "active": false,
  "versionId": "1"
}
