n8n-pinecone-openai-rag-agent/01_rag_pipeline.json
{
  "name": "RAG Pipeline – Document Ingestion & Intelligent Q&A",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ingest",
      "name": "Webhook – Ingest Document",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Receives document via HTTP POST. Expects { filename, content, source } in the body."
    },
    {
      "parameters": {
        "jsCode": "// Validate and extract document fields\nconst body = $input.first().json.body;\nif (!body.content || !body.filename) {\n  throw new Error('Missing required fields: content and filename');\n}\n\n// Clean text – remove excess whitespace\nconst cleaned = body.content.replace(/\\s+/g, ' ').trim();\n\n// Chunk into 512-token segments with 50-token overlap\nconst chunkSize = 512;\nconst overlap = 50;\nconst words = cleaned.split(' ');\nconst chunks = [];\nfor (let i = 0; i < words.length; i += chunkSize - overlap) {\n  const chunk = words.slice(i, i + chunkSize).join(' ');\n  if (chunk.trim().length > 0) {\n    chunks.push({\n      chunk_id: `${body.filename}_${i}`,\n      text: chunk,\n      source: body.source || body.filename,\n      filename: body.filename,\n      chunk_index: chunks.length\n    });\n  }\n}\nreturn chunks.map(c => ({ json: c }));"
      },
      "id": "code-chunk",
      "name": "Code – Clean & Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Splits documents into 512-word chunks with 50-word overlap for better semantic coverage."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "text-embedding-3-small" },
            { "name": "input", "value": "={{ $json.text }}" }
          ]
        },
        "options": {}
      },
      "id": "http-embed",
      "name": "HTTP – Generate Embeddings (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "Calls OpenAI text-embedding-3-small to vectorize each chunk. Runs in parallel for all chunks."
    },
    {
      "parameters": {
        "jsCode": "// Extract embedding from OpenAI response and merge with chunk metadata\nconst chunk = $('Code – Clean & Chunk Text').item.json;\nconst embeddingData = $input.first().json;\nconst vector = embeddingData.data[0].embedding;\nreturn [{\n  json: {\n    chunk_id: chunk.chunk_id,\n    text: chunk.text,\n    source: chunk.source,\n    filename: chunk.filename,\n    chunk_index: chunk.chunk_index,\n    embedding: vector,\n    indexed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-merge",
      "name": "Code – Merge Chunk + Vector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "Merges chunk metadata with its embedding vector before upserting to the vector store."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pinecone.io/vectors/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Api-Key", "value": "={{ $credentials.apiKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vectors\": [{\n    \"id\": \"{{ $json.chunk_id }}\",\n    \"values\": {{ $json.embedding }},\n    \"metadata\": {\n      \"text\": \"{{ $json.text }}\",\n      \"source\": \"{{ $json.source }}\",\n      \"filename\": \"{{ $json.filename }}\",\n      \"chunk_index\": {{ $json.chunk_index }}\n    }\n  }]\n}",
        "options": {}
      },
      "id": "http-pinecone-upsert",
      "name": "HTTP – Upsert to Pinecone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "notes": "Stores each vector + metadata in Pinecone. Index must be pre-created with dimension 1536."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-query",
      "name": "Webhook – Query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 600],
      "notes": "Receives Q&A queries. Expects { question, top_k } in the body."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "text-embedding-3-small" },
            { "name": "input", "value": "={{ $json.body.question }}" }
          ]
        },
        "options": {}
      },
      "id": "http-query-embed",
      "name": "HTTP – Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 600],
      "notes": "Vectorizes the incoming question so it can be compared against stored chunks."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pinecone.io/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Api-Key", "value": "={{ $credentials.apiKey }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ $json.data[0].embedding }},\n  \"topK\": {{ $('Webhook – Query').item.json.body.top_k || 5 }},\n  \"includeMetadata\": true\n}",
        "options": {}
      },
      "id": "http-pinecone-query",
      "name": "HTTP – Semantic Search (Pinecone)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 600],
      "notes": "Returns the top-k most semantically similar chunks to the user question."
    },
    {
      "parameters": {
        "jsCode": "// Build context string from top-k retrieved chunks\nconst matches = $input.first().json.matches || [];\nconst question = $('Webhook – Query').item.json.body.question;\n\n// Sort by score descending, filter low-confidence results\nconst filtered = matches\n  .filter(m => m.score > 0.7)\n  .sort((a, b) => b.score - a.score);\n\nif (filtered.length === 0) {\n  return [{ json: { context: '', question, no_results: true } }];\n}\n\nconst context = filtered\n  .map((m, i) => `[Source ${i+1}: ${m.metadata.source}]\\n${m.metadata.text}`)\n  .join('\\n\\n---\\n\\n');\n\nconst sources = [...new Set(filtered.map(m => m.metadata.source))];\nreturn [{ json: { context, question, sources, chunk_count: filtered.length } }];"
      },
      "id": "code-build-context",
      "name": "Code – Build Context + Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 600],
      "notes": "Filters results with score > 0.7, deduplicates sources, and assembles the context window for the LLM."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "no-results-check",
              "leftValue": "={{ $json.no_results }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-no-results",
      "name": "IF – No Results Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 600],
      "notes": "Routes to a fallback response if no chunks scored above the confidence threshold."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a precise document assistant. Answer questions using ONLY the provided context. If the context doesn't contain enough information, say so clearly. Always cite your sources by mentioning which source the information came from.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Context:\\n{{ $json.context }}\\n\\nQuestion: {{ $json.question }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "http-llm-answer",
      "name": "HTTP – LLM Generate Answer (GPT-4o-mini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 540],
      "notes": "GPT-4o-mini generates a grounded answer with temperature=0.2 to reduce hallucinations."
    },
    {
      "parameters": {
        "jsCode": "// Format final response\nconst llmResponse = $input.first().json;\nconst ctx = $('Code – Build Context + Sources').item.json;\nconst answer = llmResponse.choices[0].message.content;\nconst usage = llmResponse.usage;\n\nreturn [{\n  json: {\n    answer,\n    sources: ctx.sources,\n    chunks_used: ctx.chunk_count,\n    tokens: {\n      prompt: usage.prompt_tokens,\n      completion: usage.completion_tokens,\n      total: usage.total_tokens\n    },\n    model: 'gpt-4o-mini',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-format-response",
      "name": "Code – Format Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-success",
      "name": "Respond – Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 540]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"answer\": \"I couldn't find relevant information in the knowledge base to answer your question. Please try rephrasing or uploading more documents.\", \"sources\": [], \"chunks_used\": 0 }",
        "options": { "responseCode": 200 }
      },
      "id": "respond-fallback",
      "name": "Respond – No Results Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 720],
      "notes": "Graceful fallback when semantic search returns nothing above the confidence threshold."
    }
  ],
  "connections": {
    "Webhook – Ingest Document": { "main": [[{ "node": "Code – Clean & Chunk Text", "type": "main", "index": 0 }]] },
    "Code – Clean & Chunk Text": { "main": [[{ "node": "HTTP – Generate Embeddings (OpenAI)", "type": "main", "index": 0 }]] },
    "HTTP – Generate Embeddings (OpenAI)": { "main": [[{ "node": "Code – Merge Chunk + Vector", "type": "main", "index": 0 }]] },
    "Code – Merge Chunk + Vector": { "main": [[{ "node": "HTTP – Upsert to Pinecone", "type": "main", "index": 0 }]] },
    "Webhook – Query": { "main": [[{ "node": "HTTP – Embed Query", "type": "main", "index": 0 }]] },
    "HTTP – Embed Query": { "main": [[{ "node": "HTTP – Semantic Search (Pinecone)", "type": "main", "index": 0 }]] },
    "HTTP – Semantic Search (Pinecone)": { "main": [[{ "node": "Code – Build Context + Sources", "type": "main", "index": 0 }]] },
    "Code – Build Context + Sources": { "main": [[{ "node": "IF – No Results Found?", "type": "main", "index": 0 }]] },
    "IF – No Results Found?": {
      "main": [
        [{ "node": "Respond – No Results Fallback", "type": "main", "index": 0 }],
        [{ "node": "HTTP – LLM Generate Answer (GPT-4o-mini)", "type": "main", "index": 0 }]
      ]
    },
    "HTTP – LLM Generate Answer (GPT-4o-mini)": { "main": [[{ "node": "Code – Format Final Response", "type": "main", "index": 0 }]] },
    "Code – Format Final Response": { "main": [[{ "node": "Respond – Success", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": ["RAG", "AI", "Vector Search", "OpenAI", "Pinecone"],
  "meta": { "templateCredsSetupCompleted": false }
}
